<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <link rel="stylesheet" href="date-slider.css">
    <script src="date-slider.js"></script>
    <script src="date-slider-jquery.js"></script>
    <script src="date-slider-angular.js"></script>
</head>

<body>
    <h1>Alap</h1>
    <div id="demo1" class="this-will-be-deleted"></div>
    <input type="number" id="model" />
    <div style="margin-bottom: 100px"></div>
    <div id="demo2"></div>
    <div style="margin-bottom: 100px"></div>
    <div id="demo3"></div>

    <div style="display: none">
        <div id="template2" class="slider-template" style="width: 500px; transform: rotate(20deg)">
            <div class="slider-marker-template" style="border-left: 1px solid #000; height: 10px;"></div>
            <div class="slider-control-template" style="height: 200px; position: relative">
                <img class="slider-handle-template" src="https://www.iconexperience.com/_img/g_collection_png/standard/48x48/dog.png">
                <div class="slider-control-start-template" style="position: absolute; top: 100px; right: 100px;">HÁZ</div>
                <div class="slider-control-end-template" style="position: absolute; top: 100px; left: 100px;">CSONT</div>
            </div>
        </div>

        <div id="template3" class="slider-template" style="width: 500px;">
            <div class="slider-marker-template" style="border-left: 1px solid #000; height: 10px;"></div>
            <div class="slider-control-template" style="height: 400px; position: relative">
                <img class="slider-handle-template" src="https://www.iconexperience.com/_img/g_collection_png/standard/48x48/dog.png">
                <div class="slider-control-start-template" style="position: absolute; top: 100px; right: 100px;">HÁZ</div>
                <div class="slider-control-end-template" style="position: absolute; bottom: 100px; left: 100px;">CSONT</div>
            </div>
        </div>
    </div>

    <h1>jQuery</h1>
    <div id="demo4"></div>
    <div class="demo5"></div>
    <div class="demo5"></div>

    <div id="angularApp" ng-controller="TestController as testCtrl">
        <h1>Angular</h1>
        <div date-slider options="{sliders: [{ type: 'year' }]}" ng-model="testCtrl.model" min="946684800000"></div>
        <div ng-bind="testCtrl.model"></div>
        <button type="button" ng-click="testCtrl.model = 915148800000">1999</button>
        <button type="button" ng-click="testCtrl.model = 1483228800000">2017</button>
    </div>

    <script type="text/javascript">
        var TestController = (function(){
            function TestController($scope) {
                this.$scope = $scope;
                this.model = 1451606400000;
            }
            return TestController;
        }());
        angular.module("test", ["dateSlider"])
            .config(["dateSliderOptionsProvider", (dateSliderOptions) => {
                console.log(dateSliderOptions);
            }])
            .controller("TestController", ["$scope", TestController]);
        angular.bootstrap(document.getElementById("angularApp"), ["test"], { strictDi: true });
    </script>

    <script type="text/javascript">
            var options = {
                parser: "timestamp",
                parserOptions: { type: "seconds" },
                formatter: "timestamp",
                formatterOptions: { type: "seconds" },
                sliders: [{
                    type: "year"
                },{
                    type: "month"
                },{
                    type: "day"
                }],
                callback: {
                    onValueChanged: function (context) {
                        if (document.getElementById("model").value != context.newValue) {
                            document.getElementById("model").value = context.newValue;
                        }
                    }
                }
            };
            document.getElementById("model").value = Math.floor(Date.now() / 1000);
            var instance = DateSlider.create(document.getElementById("demo1"), options);
            instance.setValue(parseInt(document.getElementById("model").value));

            document.getElementById("model").addEventListener("change", function (event) {
                instance.setValue(parseInt(event.currentTarget.value));
            });

            var options2 = {
                parser: "timestamp",
                parserOptions: { type: "seconds" },
                formatter: "timestamp",
                formatterOptions: { type: "seconds" },
                sliders: [{
                    type: "month",
                    template: document.getElementById("template2")
                }]
            };
            var instance2 = DateSlider.create(document.getElementById("demo2"), options2);

            var options3 = {
                parser: "timestamp",
                parserOptions: { type: "seconds" },
                formatter: "timestamp",
                formatterOptions: { type: "seconds" },
                sliders: [{
                    type: "universal-time",
                    template: document.getElementById("template3")
                }]
            };
            var instance3 = DateSlider.create(document.getElementById("demo3"), options3);

            var options4 = {
                parser: "timestamp",
                parserOptions: { type: "seconds" },
                formatter: "timestamp",
                formatterOptions: { type: "seconds" },
                sliders: [{
                    type: "year"
                }]
            };
            $("#demo4").dateSlider(options4);
            $("#demo4").data("dateSlider").setValue((new Date()).getTime() / 1000);
            $(".demo5").dateSlider(options4);
    </script>
</body>

</html>