.slider {

    .slider-marker {
        height: 30px;
        display: inline-block;
        position: absolute;

        // &:nth-child(2n) {
        //     background-color: coral;
        // }

        // &:nth-child(2n+1) {
        //     background-color: darkolivegreen;
        // }

        .marker-mark {
            width: 50%;
            border-right: 1px solid black;
            height: 10px;
        }

        .marker-value-container {
            text-align: center;
        }
    }

    .slider-control {
        position: relative;
        height: 72px;
        background-color: lightgray;

        .slider-control-line {
            position: absolute;
            //.vertical-center();
            height: 3px;
            left: 20px;
            right: 20px;
            bottom: 21px;
            background-color: limegreen;
        }

        .slider-control-start {
            position: absolute;
            //.vertical-center();
            height: 1px;
            width: 1px;
            left: 20px;
            bottom: 21px;
        }

        .slider-control-end {
            position: absolute;
            //.vertical-center();
            height: 1px;
            width: 1px;
            right: 20px;
            bottom: 21px;
        }

        .slider-handle {
            position: absolute;
            width: 20px;
            height: 40px;
            background-color: gray;
            border-radius: 4px;
        }
    }

    .vertical-center() {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
    }
}
